<div class="container">
  <h1 class="mt-2">Stocks</h1>

  <div class="card py-2 my-5 rounded" *ngIf="stocks$ | async as stocks">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3">
          <div class="card">
            <div class="card-header">
              Stocks
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Stock</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let stock of stocks; let i = index">
                    <td (click)="setStock(i)">{{ stock.name }}</td>
                    <td>{{ stock.price }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="card">
            <div class="card-header">
              Selected stock
            </div>
            <div class="card-body" *ngIf="selectedStock != undefined">
              <h3 class="text-center">{{ stocks[selectedStock].name }}</h3>

              <h5>Description: </h5>
              <p>{{ stocks[selectedStock].description }}</p>

              Price: {{ stocks[selectedStock].price }}
              <button (click)="increment(stocks[selectedStock].id)">+</button>
              <button (click)="decrement(stocks[selectedStock].id)">-</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card py-2 mt-5 rounded">
    <div class="card-header">
      Add stock
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="addStockName">Enter Name</label>
            <input id="addStockName" class="form-control" type="text" [formControl]="addStockName">
          </div>

          <div class="form-group">
            <label for="addStockDesc">Enter Description</label>
            <input id="addStockDesc" class="form-control" type="text" [formControl]="addStockDesc">
          </div>

          <div class="form-group">
            <label for="addStockPrice">Enter Price</label>
            <input id="addStockPrice" class="form-control" type="text" [formControl]="addStockPrice">
          </div>
          <button class="btn btn-primary px-5" (click)="addStock()">Add</button>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </div>
</div>
